# FICHIER DE CONFIGURATION DE TEST
# 1. Copiez ce fichier
# 2. Renommez la copie en '.env'
# 3. Modifiez le numero de departement cible ci-dessous selon vos besoins

# IMPORTANT : 
# - Ne renseignez qu'UN SEUL departement a la fois (ne pas mettre "44,35").
# - DEPARTEMENT_CIBLE="44"  /n DEPARTEMENT_CIBLE="56" pour en selectionner plusieurs.
# - Les formats speciaux comme la Corse ("2A", "2B") ou l'Outre-mer ("974") sont acceptes.

DEPARTEMENT_CIBLE="44"